body {
	background-color: #2C2E30;
	font-family: 'Lacquer', sans-serif;
	color: #ffffff;
}
.navbar-content-left {
	float: right;
}

.navbar {
	position: fixed;
}
.navbar li {
	display: inline;
	font-size: 18px;
	margin-right: 20px;
	display: inline;
	font-size: 18px;
	margin-right: 20px;
    float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
 
}